@import 'tailwindcss';

/* niebieski motyw */
@theme {
  --color-primary: #2b7fff;
  --color-primary-rgb: 43, 127, 255;
  --color-primary-hover: #1e5bbf;

  --color-secondary: #fcd34d;
  --color-secondary-rgb: 252, 211, 77;
}

/* czarny motyw */
/* @theme {
  --color-primary: #000000;
  --color-primary-rgb: 0, 0, 0;
  --color-primary-hover: #333333;

  --color-secondary: #fcd34d;
  --color-secondary-rgb: 252, 211, 77;
} */

@layer base {
  html {
    @apply h-full w-full;
  }
  /*bg-gray-500 ?? */
  body {
    @apply bg-gradient-to-br from-green-500 to-yellow-300 text-slate-900 bg-no-repeat bg-fixed;
  }
}
